<h2>Ol&aacute;, {username}.</h2>

<p><font face="arial, helvetica, sans-serif"><span style="font-size:14px">Crie sua senha para ter acesso ao sistema <strong>car-rental.</strong></span></font></p>

<p><span style="font-size:16px"><strong>C&oacute;digo de verifica&ccedil;&atilde;o:</strong>&nbsp;{verification_code}<br />

<p>Voc&ecirc; tem at&eacute; o dia {valid_until}&nbsp;para utilizar estes dados. Ap&oacute;s a data, ser&aacute; preciso solicitar um novo e-mail para criar sua senha.</p>

<p><strong><span style="font-size:14px">Caso voc&ecirc; n&atilde;o tenha solicitado cria&ccedil;&atilde;o de conta, desconsidere este e-mail e n&atilde;o passe os dados para ningu&eacute;m.</span></strong></p>
