<h2>Ol&aacute;, {username}.</h2>

<p><span style="font-size:14px"><span style="font-family:arial,helvetica,sans-serif">Abaixo est&atilde;o os dados para voc&ecirc; resetar sua senha:</span></span></p>

<p><span style="font-size:16px"><strong>C&oacute;digo de verifica&ccedil;&atilde;o:</strong>&nbsp;{verification_code}<br />
<strong>ID da sua credencial:</strong>&nbsp;{credential_id}</span></p>

<p>Voc&ecirc; tem at&eacute; o dia {valid_until}&nbsp;para utilizar estes dados. Ap&oacute;s a data, ser&aacute; preciso repetir o processo para resetar a senha.</p>

<p><strong><span style="font-size:14px">Caso voc&ecirc; n&atilde;o tenha solicitado altera&ccedil;&atilde;o de senha, desconsidere este e-mail e n&atilde;o passe os dados para ningu&eacute;m.</span></strong></p>
